.app-darkest{
    background: #2F312F;
    color: #F0F0F0;
}

.app-dark{
    background: #333533;
    color: #F0F0F0;
}

.main {
    height: 100vh;
}
.sub-title{
    display: block;
}

.add-shift-section {
    width: 100vw;
}